:root {
  --primary-color: #f1740d;
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}
.money-img {
  width: 20%;
}
h1 {
  color: var(--primary-color);
}
p {
  text-align: center;
}
.currency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
  /* width: 50%; */
}
.currency select {
  /* margin: 0 45%; */
  padding: 5px 10px 5px 5px;
  font-size: 1rem;
  border: 1px solid #dedede;
}
.currency input {
  border: 0;
  background: transparent;
  font-size: 1.5rem;
  text-align: right;
}

.swap-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate {
  color: var(--primary-color);
  font-size: 1rem;
  padding: 0 10px;
}
.btn {
  color: white;
  background-color: var(--primary-color);
  border: 0;
  padding: 5px 12px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}
