img {
  width: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#cash {
  width: 100px;
  top: 10px;
}
@media (max-width: 600px) {
  img {
    width: 50px;
  }
  #cash {
    width: 50px;
  }
}
@media (max-width: 900px) {
  img {
    width: 75px;
  }
  #cash {
    width: 75px;
  }
}
